
@{
    ViewBag.Title = "Index";
}
@using TriviaApp.Models
@using TriviaApp.TriviaAPI

@model Search
@{

    var client = new Client();
    List<SelectListItem> CategoryList = new List<SelectListItem>();
    var CategoryResults = client.GetCategories();
    foreach (var result in CategoryResults["trivia_categories"])
    {
        CategoryList.Add(new SelectListItem
        {
            Text = (string)result["name"],
            Value = (string)result["id"],

        });
    }
    List<SelectListItem> DifficultyList = new List<SelectListItem>();
    DifficultyList.Add(new SelectListItem
    {
        Text = "Easy",
        Value = "easy",

    });
    DifficultyList.Add(new SelectListItem
    {
        Text = "Medium",
        Value = "medium",

    });
    DifficultyList.Add(new SelectListItem
    {
        Text = "Hard",
        Value = "hard",

    });
    List<SelectListItem> AmountList = new List<SelectListItem>();
    AmountList.Add(new SelectListItem
    {
        Text = "10",
        Value = "10",

    });
    AmountList.Add(new SelectListItem
    {
        Text = "20",
        Value = "20",

    });
    AmountList.Add(new SelectListItem
    {
        Text = "30",
        Value = "30",

    });
    AmountList.Add(new SelectListItem
    {
        Text = "40",
        Value = "40",

    });
    AmountList.Add(new SelectListItem
    {
        Text = "50",
        Value = "50",

    });


}

<style>
    body {
        background-image: url("../../Content/books.jpg")
    }

    #form-div{
        
    }
</style>
<body>
<div id="form-div">

    @using (Html.BeginForm("QuizStart", "Home", FormMethod.Post))
    {
        <h2 id="BuildHeader">Build Your Trivia Quiz</h2>
        <div id="builder">
            @Html.DropDownListFor(model => model.Category, CategoryList, "Any Category", new { id = "SelectMe;" })
            @Html.DropDownListFor(model => model.Difficulty, DifficultyList, "Any Difficulty")
            @Html.DropDownListFor(model => model.Amount, AmountList)

        </div>
        <p></p>
        <input type="submit" value="Create Quiz" class="btn btn-lg" />

        <p></p>

    }
</div>
</body>
