@using TriviaApp.Models
@{
    ViewBag.Title = "Results";
    List<TriviaResult> Results = (List<TriviaResult>)Session["Trivia"];
}

<h2>Results</h2>


@foreach(var question in Results)
{   <p>@question.Question</p>
    <p>@question.SelectedAnswer</p>
    <p>@question.Score</p>
    <hr>
}