@using TriviaApp.Models
@{
    ViewBag.Title = "Results";
    List<TriviaResult> Results = (List<TriviaResult>)Session["Trivia"];
    var correct = Session["Correct"];
    var total = Results.Count();

}




<div id="result-div">
<h1>Results</h1>
<table class="table">
    <tr>
        <th>Question</th>
        <th>Selected Answer</th>
        <th>Correct Answer</th>
        <th>Score</th>
    </tr>

    @foreach (var question in Results)
    {
        <tr>
            <td>@question.Question</td>
            <td>@question.SelectedAnswer</td>
            <td>@question.CorrectAnswer</td>
            <td>@question.Score</td>
        </tr>
    }
</table>
</div>

